extends ../../../layout

block content
  .container
    .row
      table.table.table-striped.table-hover
        thead
          tr
            th #
            th 分类名称
            th 分类描述
            th 创建时间
            th 相关电影
            th 更新
            th 删除
        tbody
          each item, index in categories
            tr(class="item-id-" + item._id)
              th #{index + 1}
              td #{item.name}
              td #{item.desc}
              td #{moment(item.meta.createdAt).format('MM/DD/YYYY')}
              td: a(href="#") 查看
              td: a(target="_blank", href="/admin/category/update/" + item._id) 修改
              td: button.btn.btn-danger.del(type="button", data-id=item._id) 删除
  script(src="/js/category.js")