extends ../../../layout

block content
  .container
    .row
      table.table.table-striped.table-hover
        thead
          tr
            th #
            th 名字
            th 邮箱
            th 手机
            th 注册时间
            th 查看
            th 更新
            th 删除
        tbody
          each item, index in users
            tr(class="item-id-#{item._id}")
              th #{index + 1}
              td #{item.name}
              td #{item.email}
              td #{item.phoneNumber}
              td #{moment(item.reg.createdAt).format('MM/DD/YYYY')}
              td: a(target="_blank", href="../detail/#{item._id}") 查看
              td: a(target="_blank", href="../admin/update/#{item._id}") 修改
              td
                button.btn.btn-danger.del(type="button", data-id="#{item._id}") 删除
                
  //- script(src="/js/admin.js")